{% block content %}
<title>Upload new File</title>
    <h1>Upload new File</h1>

    <form action="{% url 'index' %}" method=post enctype=multipart/form-data>
        {% csrf_token %}
        {{ form.as_p }}
        <input type=submit value=Upload>
    </form>

    {% if documents %}
        {{ image_path }}
    {% endif %}

    {% if result%}
        <h2>The result is {{result}}</h2>
    {% endif%}

{% endblock content %}


<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
    }
</script>